body {
    padding: 0 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

label {
    cursor: pointer;
}

.hide {
    display: none;
}

.fav-station {
    margin-bottom: 20px;
}

.check-option label, .check-option input {
    vertical-align: middle;
}

#show-interval {
    margin-left: 22px;
    margin-top: 5px;
}


#interval {
    background: transparent;
    border: none;
    border-bottom: 3px solid #ddd;
    font-size: 20px;
    width: 60px;
    text-align: center;
}

button {
    background-color: #22e87f;
    border: none;
    color: #fff;
    height: 30px;
    border-radius: 14px;
    width: 50px;
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #11d06b;
}

.saved {
    color: #22e87f;
    margin-left: 5px;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: normal;
}
