.station {
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

.station h2 span {
    vertical-align: middle;
}

.station h2 span.station-id {
    color: grey;
    font-size: 14px;
    font-weight: normal;
}

.station p span {
    vertical-align: middle;
    display: inline-block;
}

.station p span.unavailable {
    color: #d60000;
}

.station .status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.station .status.true {
    background-color: green;
}

.station .status.false {
    background-color: red;
}

.station:hover .delete {
    opacity: .5;
}

.station .delete {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.station .delete:hover {
    opacity: 1;
}

span.number {
    font-weight: bold;
}

#stations-list .station-to-add {
    padding: 5px 0;
    font-weight: bold;
    color: #ef5800;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: padding-left .3s ease;
}

#stations-list .station-to-add:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#stations-list .station-to-add:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#stations-list .station-to-add:hover {
    background-color: #ef5800;
    color: #f3f3f3;
    padding-left: 5px;
}
