.station {
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

.station h2 span {
    vertical-align: middle;
}

.station h2 span.station-id {
    color: grey;
    font-size: 14px;
    font-weight: normal;
}

.station p span {
    vertical-align: middle;
    display: inline-block;
}

.station p span.unavailable {
    color: #d60000;
}

.station .status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.station .status.true {
    background-color: green;
}

.station .status.false {
    background-color: red;
}

.station:hover .delete {
    opacity: .5;
}

.station .delete {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.station .delete:hover {
    opacity: 1;
}

span.number {
    font-weight: bold;
}

#stations-list #search {
    border: none;
    background-color: #e2e2e2;
    border-radius: 5px;
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#stations-list .station-to-add {
    padding: 5px 0;
    font-weight: bold;
    color: #ef5800;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: padding-left .3s ease;
    margin-bottom: 0;
}

#stations-list .station-to-add:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#stations-list .station-to-add:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#stations-list .station-to-add:first-child:hover {
    border-bottom: 1px solid #ef5800;
}

#stations-list .station-to-add:hover {
    background-color: #ef5800;
    border-bottom: 1px solid #ef5800;
    color: #f3f3f3;
    padding-left: 5px;
}


/* Favorite journee */
#fav-journee {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

#fav-journee.good {
    background: -webkit-linear-gradient(-45deg, #56ab2f 0%,#a8e063 100%);
}

#fav-journee.danger {
    background: -webkit-linear-gradient(-45deg, #F7971E 0%,#FFD200 100%);
}

#fav-journee.bad {
    background: -webkit-linear-gradient(-45deg, #EB3349 0%,#F45C43 100%);
}

#fav-journee .fav-j-title {
    margin: 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#fav-journee ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#fav-journee ul li {
    float: left;
    width: 33.33%;
    text-align: center;
}

#fav-journee .road {
    line-height: 38px;
}

#fav-journee .road img {
    height: 25px;
    margin-top: 11px;
}

#fav-journee .journee-station span {
    display: block;
    color: #fff;
}

#fav-journee .journee-station .count.bikes img {
    height: 26px;
    margin-right: 5px;
    margin-bottom: -7px;
}

#fav-journee .journee-station .count.stands img {
    height: 15px;
    margin-right: 5px;
}

#fav-journee .journee-station .station-name {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#fav-journee .journee-station .count {
    font-size: 20px;
    font-weight: bold;
}
