body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    width: 400px;
    color: #2c2c2f;
    background-color: #f3f3f3;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p, label {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.options {
    position: absolute;
    top: 22px;
    right: 20px;
}

#add-station {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

#add-station .plus {
    font-size: 30px;
    font-weight: bold;
    color: #13d013;
    line-height: 15px;
    vertical-align: middle;
}

#add-station #close-add-stations {
    font-size: 15px;
    color: red;
    padding: 0 4px;
}
#add-station #close-add-stations:hover {
    background-color: red;
    color: #fff;
    border-radius: 3px;
}

#add-station .plus:hover {
    color: green;
}

#add-station.open .plus {
    display: none;
}

#add-station.open #close-add-stations {
    display: inline-block;
}

#settings {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url('../settings.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
    cursor: pointer;
    vertical-align: middle;
}

#settings:hover {
    opacity: 1;
}

footer {
    margin-top: 10px;
}

footer p {
    font-size: 12px;
    color: #b3b3b3;
}
